.gender-input {
  margin-right: 16px;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.2em; /* 크기 조정 */
  height: 1.2em; /* 크기 조정 */
  margin-left: 30px; /* 텍스트와의 간격 조정 */
  margin-bottom: 0; /* 여백 제거 */
}

[type="radio"]:checked {
  border: 0.4em solid blue;
}

[type="radio"]:focus-visible {
  outline: max(2px, 0.1em) dotted blue;
  outline-offset: max(2px, 0.1em);
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

label span {
  margin-left: 8px; /* 라디오 버튼과 텍스트 사이의 간격 */
}
